service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      match /devices/{deviceId} {
        allow read, write: if request.auth != null;
      }
      match /conversations/{conversationId} {
        match /participants/{participantId} {
          allow read, write: if request.auth != null
        }
      }
    }
  }
}