<h5 [innerText]="title"></h5>


<app-loader *ngIf="loader" [image]="image"></app-loader>


<!-- form -->
<!-- <div style="width: 200px; height:200px; left:50%; z-index: 99; position: absolute;">
    <div style="width: 200px; height:200px; left:-50%;position: relative;">
        <img src="./assets/dist/media/img/loader.gif"/>
    </div>
</div> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="position: relative;">
    <div class="form-group input-group-lg">
        <input type="email" formControlName="email" class="form-control" placeholder="Username or email" required
            autofocus>
    </div>
    <div class="form-group input-group-lg">
        <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
        </div>
        <a href="reset-password.html">Reset password</a>
    </div>
    <button class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid || loader">Sign in</button>
    <hr>
    <p class="text-muted">Login with your social media account.</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-dribbble">
                <i class="fa fa-dribbble"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-google">
                <i class="fa fa-google"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-behance">
                <i class="fa fa-behance"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
    <hr>
    <p class="text-muted">Don't have an account?</p>
    <a routerLink="/home/register" class="btn btn-outline-light btn-sm">Register now!</a>
</form>
<!-- ./ form -->