<!-- disconnected modal -->
<div class="modal fade show" style="display: block;" id="disconnected" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content" style="background-color: #ebebeb;">
            <div class="modal-body">
                <div class="connection-error">
                    <h4 class="text-center">Please Waiting...</h4>
                    <img [src]="image" width="100"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ disconnected modal -->